doctype html
html
	head
		title Main app
		link(rel='stylesheet', href='/css/vendor.css')
		link(rel='stylesheet', href='/css/app.css')
		block head
	body
		block content
		script(type='text/javascript', src='/js/vendor.js')
		script(type='text/javascript', src='/js/app.js')
		block footer